body{
    background-color: #FAFAFA;
  }
  .maindashboard {
    background-color: #fafafa;
    height: 1200px;
    /* width: auto; */
    margin-top: 1%;
  }
  .dashboard-web-logo {
    width: 142px;
    height: 30px;
    margin-left: 25px;
    margin-right: 70px;
  }
  
  .dashboard-search-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  .searchbar {
    width: auto;
    border: none;
  }
  .dashboard-notification-icon {
    margin-right: 50px;
  }
  
  .dashboard-profile-icon {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  
  .dashboard-select-downward {
    margin-left: 15px;
  }
  
  .sidebarimg {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
  }
  
  .dashbord-sidebar-detail {
    background: #fff3f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }
  
  .sidebar-detail {
    padding: 10px 0 10px 15px;
    margin: 0 0 10px 0;
  }
  
  .sidebar {
    margin-top: 25px;
  }
  
  @media (max-width: 992px) {
    .dashboard-toggle-logo {
      display: none;
    }
  
    .dashboard-notification-icon,
    .dashboard-select-downward {
      display: none;
    }
  
    .dashboard-search-toggle {
      margin-bottom: 10px;
    }
  
    .dashboard-sidebar-toggle {
      display: none;
    }
  
    .dashbord-sidebar-detail {
      width: 500px;
    }
  
    .offcanvas-title {
      max-width: 25px;
    }
  }
  
  @media (min-width: 992px) {
    .dashboard-nav-sidebar-toggle {
      display: none;
    }
  }
  .analysistxt{
    width: 113px;
  height: 39px;
  letter-spacing: 0px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  }
  .onetxt{
    width: 121px;
  height: 29px;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  }
  legend{
    width: 400%;
  }
  .form{
    width: 1218px;
  height: 1749px;
  
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  
  }
  .warning1{
    width: 158px;
  height: 16px;
    font-size: 12px;
    color: #FF3B3B;
  }
  .warning2{width: 158px;
    height: 16px;
    font-size: 12px;
    color: #ADADAD;
    letter-spacing: 0px;
    text-align: left;
  }
  .uploadtxt{
    width: 90px;
  height: 24px;
  text-align: left;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: 18px;
  }
  .button{
    width: 124px;
  height: 36px;
  border-collapse: separate;
  border: 1px solid #C8242F;
  border-radius: 18px;
  opacity: 1;
  }
  .noitemtxt{
    width: 91px;
  height: 16px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #ADADAD;
  opacity: 1;
  }.form-check-input:checked {
    background-color:#C8242F;
    border-color:#ADADAD;
  }
    
  .form-check-input {
    background-color: #FFFFFF;
  }
  
  .form-check-input[type=radio] {
      border-radius: 50%;
      /* background-color: #C8242F; */
  }
  .snackbar1 , .snackbar2 , .snackbar3 , .snackbar4{
    display: flex;
    flex-direction: row;
    width: 563px;
   height: 44px;
   border: 1px solid;
  border-radius: 5px;
  opacity: 1;
  }
  .snackbar2{border-color:#00B9E1 ;}
  .snackbar1{border-color: #FF3535;}
  .snackbar3{ border-color: #FFA800;}
  .snackbar4{ border-color:#00AF27 ;}
  .succtxt{
    color: #00AF27;
  }
  .warningtxt{
    color:#FFA800 ;
  }
  .infotxt{
    color:#00B9E1 ;
  }
  .errortxt{
    color: #FF3535;
  }
  .logos{
    height:22px ;
    width: 22px;}
   
    .primary {
      color: #fff3f4;
      background-color: #c8242f;
      border-color: #c8242f;
      font-size: 16px;
      font-weight: 500;
      margin-left: 32px;
      border-radius: 23px;
    }
    
    .secondary {
      border-color: #c8242f;
      color: #c8242f;
      background-color: #ffffff;
      border-radius: 23px;
    }
    .ul {
      display: flex;
      gap: 4rem;
      margin-left: 21px;
      position: relative;
    }
    
    .li {
      list-style: none;
      padding: 0.5rem;
      color: #ADADAD;
      margin-left: -27px;
    }
    
    .ul {
      border-bottom: 1px solid #ADADAD;
      width: 90%;
    }
    
    .underline {
      width: 67px;
      height: 4px;
      color: #C8242F;
      background-color: #C8242F;
      position: absolute;
      top: 37px;
      left: 1px;
    }
    
    .tabtxt{
      font-size: 15px;
      font-weight: 400;
      text-align: justify;
      width: 90%;
    }
    .maincenter {
      display: flex;
    
    }























